$header1: 2.5rem;
$header2: 6rem;
$header3: 2.5rem;
$header4: 3rem;
$text: 2rem;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 52.5%;
}

body {
    animation: opening 1s ease-in-out;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: $header1;
    font-family: 'Poppins', sans-serif;

}

li,
button,
label,
input,
p,
a {
    font-size: $text;
}

h2 {
    font-size: $header2;

}

h3 {
    font-size: $header3;
}

h4,
h5 {
    font-size: $header4;
}

a {
    text-decoration: none;
    color: $gray-text;
}

ul {
    list-style: none;
}

/* --------- HEADER AND NAV ----------------*/
.main-header {
    background: rgb(255, 255, 255);

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    min-height: 10vh;
}

.nav-wrapper {
    flex: 1 1 40rem;

    .menu-list {
        display: flex;
        justify-content: space-evenly;
        height: 100%;


        li {
            font-size: 2rem;
        }
    }
}


#logo {
    flex: 1 1 10rem;

    h1 {
        font-family: 'Kaushan Script', cursive;
        color: rgb(255, 84, 5);
        font-size: 3.5rem;
    }
}

.search {
    flex: 1 1 10rem;
    text-align: right;
    font-size: 2rem;
}



/* -------- BOXES ----------*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}



.box1 {
    background: url('../img/citrus.jpg');
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
}

.box2 {
    background: #ff325e;
    display: flex;
    padding: 0rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    grid-column: 2/3;
    grid-row: 1/5;

    h3 {
        padding-top: 2rem;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
    }

    p {
        color: white;
        line-height: 1.5;
    }

    h2 {
        color: white;
        font-size: $header2;
        font-family: 'Magra', sans-serif;
        line-height: 1.2;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}

.box3 {
    background: #ffb514;
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    padding: 3rem 7rem 0rem 13rem;
    align-items: center;
    justify-content: center;

    p {
        text-align: right;
        align-self: flex-start;
        color: white;
        line-height: 1.5;
    }

}

.head3 {
    align-self: flex-start;
    padding-left: 2rem;

    h3 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    h2 {
        font-family: 'Magra', sans-serif;
        line-height: 1.2;
        font-weight: 700;
        font-size: 4rem;
    }
}

.box4 {
    background: rgb(60, 255, 141);
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    padding: 3rem 10rem 0rem 7rem;

    p {
        flex: 1 1 20;
        line-height: 1.5;
    }
}

.head4 {
    flex: 1 1 40rem;

    h3 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    h2 {
        font-family: 'Magra', sans-serif;
        line-height: 1.2;
        font-weight: 700;
        font-size: 4rem;
    }
}

.box5 {
    background: #05faee;
    grid-column: 3/5;
    grid-row: 5/6;
    display: flex;
    padding: 3rem 10rem 0rem 7rem;
}

.box6 {
    background: url('../img/fruit-liquid.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 3/4;
    grid-row: 2/5;
}

.box7 {
    background: linear-gradient(rgba(0, 0, 0, 0.226)), url('../img/bananas.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 2/5;
}

.box8 {
    background: #3f3f3f;
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 5rem 20rem 5rem 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        flex: 1 1 20rem;

        li span {
            color: white;
        }
    }

    .form8 {
        flex: 1 1 40rem;
        flex-wrap: wrap;

        h3 {
            color: white;
            font-size: 1.7rem;
            text-transform: uppercase;
            font-weight: 400;
            padding-bottom: 1rem;
        }

        form {
            display: flex;
            flex-wrap: wrap;

            input {
                border: 0 none;
            }

            .form-button {
                background: #05faee;
                color: black;
                font-weight: 500;
                text-transform: uppercase;
                border: 0 none;
                padding: 0.5rem 2rem;
                font-family: 'Work Sans', sans-serif;
            }

        }
    }
}

.boxes {
    display: grid;
    min-height: 90vh;

    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
}

.hero {
    min-height: 90vh;
}

button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 0.3rem solid white;
    padding: 0.6rem 2rem;
    border-radius: 0.6rem;
}

@media screen and (max-width:785px) {

    .search {
        display: none !important;
    }

    #logo {
        flex: 1 1 20rem;
    }

    .overflowhidden {
        overflow-y: hidden;
    }

    /*-------------NAV BURGER ANIMATION ---------------*/


    .burger div {
        width: 5rem;
        height: 4px;
        margin: 6px;
        background-color: black;
        z-index: 2;
    }

    .toggle .top {
        transform: rotate(-45deg) translate(-5px, 9px);
        background-color: white;
    }

    .toggle .middle {
        opacity: 0;
    }

    .toggle .bottom {
        transform: rotate(45deg) translate(-5px, -9px);
        background-color: white;
    }

    .line {
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    }

    /*-------------NAV BURGER ANIMATION END---------------*/

    .menu-list {
        position: fixed;
        left: 0;
        background-color: rgb(0, 0, 0);
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        clip-path: circle(100px at 100% -30%);
        transition: all 0.5s ease-in-out;



        li {
            color: white;
            opacity: 0;
            font-size: 3rem !important;
            font-weight: 300;

        }
    }

    .menu-list.open {
        clip-path: circle(2000px at 90% -20%);
        pointer-events: all;

        li {
            animation: menuLinkFade 1s forwards;
        }

    }

    /*----------- ANIMATIONS ----------------*/
    @keyframes menuLinkFade {
        from {
            opacity: 0;
            transform: translateY(-50px)
        }

        to {
            opacity: 1;
            transform: translateY(0px)
        }
    }


}

@media screen and (max-width: 1060px) {
    .box {
        grid-row: auto;
        grid-column: auto;
    }

    .boxes {
        width: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .box3,
    .box4,
    .box5 {
        flex-wrap: wrap;
    }

    .box8 {
        grid-column: 2/4;
        grid-row: 3/4;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (max-width: 770px) {
    .box {
        grid-row: auto;
        grid-column: auto;

    }

    .boxes {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-template-rows: repeat(4, 1fr);
    }

    .box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }


    .form8 {
        display: none;
    }

}

@media screen and (max-width: 668px) {
    .boxes {
        grid-template-columns: 2fr;
        grid-template-rows: repeat(8, 1fr);

    }

    .box {
        grid-row: auto;
        grid-column: auto;

    }


}